/* Color Theme Swatches in Hex */
$main-background-hex: #04668C;
$Heinz---Stadium-Heroes-2-hex: #0D1F26;
$Heinz---Stadium-Heroes-3-hex: #03738C;
$main-title-hex: #F2B05E;
$button-background-hex: #F2B05E;
$button-text-hex: #FFFFFF;
$header-background-hex: #8C543F;

/* Color Theme Swatches in RGBA */
$main-background-rgba: rgba(4,101,140, 1);
$Heinz---Stadium-Heroes-2-rgba: rgba(12,30,38, 1);
$Heinz---Stadium-Heroes-3-rgba: rgba(2,115,140, 1);
$main-title-rgba: rgba(242,175,94, 1);
$header-background-rgba: rgba(140,83,63, 1);

/* Color Theme Swatches in HSLA */
$main-background-hsla: hsla(196, 94, 28, 1);
$Heinz---Stadium-Heroes-2-hsla: hsla(196, 50, 9, 1);
$Heinz---Stadium-Heroes-3-hsla: hsla(191, 96, 28, 1);
$main-title-hsla: hsla(33, 85, 66, 1);
$header-background-hsla: hsla(16, 37, 39, 1);
