@import 'color';

.popup-wpp {
    width: 5rem;
    height: 5rem;
    background-color: $button-background-hex;
    // background-image: $main-title-hex;
    padding: 0.5rem;
    border-radius: 70%;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: moverBoton;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        svg {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}