#servicios{
    .card {
        background-color: #ffffff;
        border-width: 0px;
        .card-body {
          padding-left: 8rem;
          padding-right: 8rem;
          padding-top: 5rem;
        }
      }
}